.container{
  width: 90%;
  margin:2rem auto;

}
.box{
  display: flex;
  justify-content: space-evenly;
}
.box h1{
  color: rebeccapurple;
}

@media only screen and (max-width:750px) {
  .box{
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}